<div class="row edit-page" ng-init="loadUserAndRecipe()" >
  <div class="col-md-12"><h2>Editing '<span ng-bind="recipe.name"></span>'</h2>  
    <p class="text-muted" ng-bind="recipe.description"></p>
    <button class="btn btn-small" ng-click="enable('edit_title_or_description')" ng-hide="show.edit_title_or_description">Edit title or description</button>
    <form name="edit_recipe" ng-submit="updateRecipe()" ng-show="show.edit_title_or_description">
      <recipe-input-fields recipe="localRecipe"></recipe-input-fields>

      <button type="submit" class="btn btn-default" >Update recipe</button>
      <button type="button" ng-click="cancel('edit_title_or_description')" class="btn btn-default" >Cancel</button>
    </form>
  </div>

  <div class="col-md-12">
    <hr />
    <div ng-if="recipe.recipeIngredients.length == 0">
      <h4>Pick your main ingredient</h4>
      <angucomplete-alt id="main-ingredient-names" placeholder="Search ingredients" pause="100" selected-object="setIngredient" local-data="mainIngredients" search-fields="name" title-field="name" input-class="form-control form-control-small", autocomplete="true">
    </div>
    <div ng-if="recipe.recipeIngredients.length > 0">
      <h4>Current Ingredients</h4>
      <recipe-ingredient-list ingredients="recipe.recipeIngredients"></recipe-ingredient-list>
    </div>
    <h4 ng-show="show.add_ingredient">New Ingredient</h4>
    <form name="recipe_add_ingredients" ng-submit="submitRecipeIngredient()" ng-show="show.add_ingredient">
      <recipe-ingredient-input-fields ingredient="ingredient"></recipe-ingredient-input-fields>

      <button type="submit" class="btn btn-default" >Add ingredient</button>
      <button type="button" ng-click="cancel('add_ingredient')" class="btn btn-default" >Cancel</button>
    </form>
    <hr />
    <h4>Suggested ingredients for <span ng-bind="recipe.recipeIngredients[0].name"></span></h4>
    <p class="text-muted">Click an ingredient name to add it to the list</p>
    
    <span class="col-md-3 ingredient-connection" ng-repeat="connection in ingredientConnections | filter:filterAlreadyAdded ">
      <span id="food-element-{{connection.foodElementId}}" ng-class="[connection.foodElementType, connection.connectionType]" ng-click="setIngredient(connection)">
        <p ng-class="{ 'bold': connection.connectionType == 'ideal' || connection.connectionType == 'strong' }" ng-bind="connection.name"></p>
      </span>
    </span>
    <div class="col-md-12">
      <button class="btn btn-small" ng-click="enable('add_ingredient');" ng-hide="show.add_ingredient">Add ingredient not listed</button>
    </div>
  </div>
  <hr />
  <div class="col-md-12">
    <hr />
    <h4>Current Steps</h4>
    <recipe-step-list steps="recipe.recipeSteps"></recipe-step-list>
    <button class="btn btn-small" ng-click="enable('add_step')" ng-hide="show.add_step">Add step</button>

    <h4 ng-show="show.add_step">New Step</h4>
    <form name="recipe_add_step" ng-submit="submitRecipeStep()" ng-show="show.add_step">
      <recipe-step-input-fields step="step"></recipe-step-input-fields>

      <button type="submit" class="btn btn-default" >Add step</button>
      <button type="button" ng-click="cancel('add_step')" class="btn btn-default" >Cancel</button>
    </form>
  </div>
  <div class="col-md-12">
    <hr />
    <button type="button" class="btn btn-warning" ng-click="deleteRecipe()">Delete Recipe</button>
  </div>
</div>