<div ng-init="load_recipes_and_assign_defaults()">
  <div class="col-md-12"><h2>Browse Recipes</h2></div>
  <a ui-sref="create_recipe">Create a recipe</a>
  <div ng-class="{'col-md-4': show.recipeMode, 'col-mode-12': show.browseMode}">
    <div ng-repeat="recipe in recipes">
      <div><a ui-sref="recipes.show({recipeId:recipe.id})" ng-click="toggleBrowseAndRecipeMode()"><span ng-bind="recipe.name"></span></a></div>
    </div>
  </div>
  <div ui-view ng-class="{ 'col-md-8': show.recipeMode}" ng-hide="show.browseMode"></div>
</div>