<span class="recipe-input-fields">
  <div class="form-group">
    <label for="recipe[name]">Recipe Name</label>
    <input type="text" class="form-control" id="recipe_name" placeholder="Enter recipe name" ng-model="recipe.name" ng-required>
  </div>
  <div class="form-group">
    <label for="recipe[description]">Description</label>
    <input type="text" class="form-control" id="recipe_description" placeholder="Describe your new recipe" ng-model="recipe.description" ng-required>
  </div>
</span>