
<div class="jumbotron">
	<h1>Recipe Builder</h1>
	<p class="lead">Create your own recipes powered by expert culinary advice</p>
	<p access-level="accessLevels.anon"><a class="btn btn-lg btn-success" ui-sref="register">Create an account and get started!</a></p>
	<p access-level="accessLevels.user"><a class="btn btn-lg btn-success" ui-sref="recipes">Create a recipe now!</a></p>

</div>

<div class="row marketing">
	<h4>Think like a pro</h4>
	<p>Take advantage of more than a century of combined kitchen experience.</p>

	<h4>Develop new styles</h4>
	<p>Stop making the same old recipe you googled that one time. Live a little.</p>

	<h4>Eat healthier</h4>
	<p>Find meals you didn't realize were your favorite</p>
</div>
</div>

<div class="footer">
	<a href="#">Back to the Food Index please</a>
</div>